body {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
  scroll-behavior: smooth;
}

.header,
.footer {
  width: 100%;
  padding: 20px;
  text-align: center;
  position: relative;
  z-index: 50;
}

.main {
  display: block;
  width: 100vw;
}

.section {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;

  text-transform: uppercase;
}

.horizontal {
  display: none;
}

@media (min-width: 1024px) {
  body {
    overflow: hidden;
  }

  /* body.home .scroll-to-top {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  } */

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 20;
  }

  .main {
    display: flex;
    flex-direction: row;
    width: calc(540vw + 5vw);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }

  .section {
    width: 80vw;
    height: 100vh;
  }

  .slider-container {
    display: flex;
    gap: 48px;
    align-items: center;
  }

  .section img {
    max-height: 70vh;
    object-fit: contain;
  }

  .horizontal {
    display: block;
    width: 100vw;
    height: calc(70vh + 1px);
  }
}
