html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Вимикаємо горизонтальний скрол для body */
  scroll-behavior: smooth;
}

.slider-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media screen and (min-width: 1024px) {
  .decor-line {
    display: none;
  }

  .home-page-scroll-btn {
    display: none;
  }
  .main-wrapper {
    overflow: hidden; /* Прибираємо стандартний скрол */
  }
  .scroll-container {
    display: flex;
    height: 75vh;
    width: 100vw;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 4vw; /* Додає видимість наступної секції */
    /* padding: 0 5vw;  */
  }

  .slider-section {
    flex: 0 0 70vw; /* Секція тепер займає 85% ширини екрану */
    height: 75vh;
    scroll-snap-align: start;
    display: flex;

    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }

  .section img {
    max-height: 70vh;
    object-fit: contain;
  }

  .slider-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 72px;
    justify-content: space-between;
  }
}


@media screen and (min-width: 1440px) {
 
 .section img {
  max-width: 100%;
    max-height: 70vh;
    object-fit: contain;
  }
  
}